<footer>
	<div class="container">
		<div class="row">
			<div class="visible-lg visible-md">
				<div class="col-md-6 text-left">
					<span class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.title }}</span>
				</div>
			</div>
			<div class="hidden-lg hidden-md">
				<div class="col-md-6">
					<span class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.title }}</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="pull-right visible-lg visible-md">
					<ul class="list-inline social-buttons">
						{% for network in site.social %}
						<li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="hidden-lg hidden-md">
					<ul class="list-inline social-buttons">
						{% for network in site.social %}
						<li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
